#### MAKE CHANGES HERE ONLY IF YOU REALLY KNOW WHAT YOU ARE DOING #####
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log 127.0.0.1   local0
    user haproxy
    group haproxy
    external-check

    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    ssl-dh-param-file /etc/haproxy/dhparam.pem

    tune.ssl.default-dh-param 2048
    maxconn     10000
    daemon

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------

defaults
    mode                    http
    log                     global
    maxconn                 10000
    option                  httplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          5m
    timeout server          "${haproxy_cfg_timeout_server}"
    timeout http-keep-alive 10s
    timeout check           10s

userlist trusted_users
    user env-admin password XXXXXXX

frontend ft_http
    bind :::80 v4v6
    bind :::9443 v4v6 ssl crt /etc/ssl/jahia/self-signed-cert.pem
    mode http

    stats enable
    stats auth admin:admin-stat-password
    stats refresh 30s
    stats show-node
    stats uri  /haproxy_adm_panel
    stats admin if TRUE

    capture cookie "JCSERVERID" len 20
    capture request header User-Agent len 500
    capture response header content-type len 50
    log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r - %[capture.res.hdr(0)]"

    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header HTTPS on if { ssl_fc }
    http-request set-header Ssl-Offloaded 1 if { ssl_fc }
    http-request set-header X-Forwarded-For %[req.fhdr(X-Forwarded-For),regsub(' ','',g)]

    http-request capture req.fhdr(X-Forwarded-For) len 50
    http-request capture req.hdr(Host) len 50

    # Blocking blackisted IPs
    acl jahia_cloud_spamlist hdr_ip(X-Forwarded-For) -f /etc/haproxy/blacklisted_ips.txt
    http-request tarpit if jahia_cloud_spamlist

    errorfiles error-pages

    use_backend bk_jcustomer_https if { dst_port 9443 }
    default_backend bk_jcustomer

backend default
    mode http
    errorfile 503 /etc/haproxy/welcome.http

backend bk_http ###HOSTS ARE ADDED TO THIS BACKEND BY DEFAULT
    mode http
    cookie SRVNAME insert
    balance roundrobin

backend bk_jcustomer
    cookie JCSERVERID insert nocache httponly secure
    option httpchk
    http-check send meth GET uri "/cxs/privacy/info" hdr authorization "Basic ${haproxy_cfg_jcustomer_root_credentials}" hdr User-Agent "HAProxy"
    compression algo gzip
    compression type text/plain text/css text/js text/xml text/javascript application/javascript application/json application/xml application/rss image/svg text/html

backend bk_jcustomer_https
    default-server ssl verify none
    cookie JCSERVERID insert nocache httponly secure
    option httpchk
    http-check send meth GET uri "/cxs/privacy/info" hdr authorization "Basic ${haproxy_cfg_jcustomer_root_credentials}" hdr User-Agent "HAProxy"
    compression algo gzip
    compression type text/plain text/css text/js text/xml text/javascript application/javascript application/json application/xml application/rss image/svg text/html


http-errors error-pages
##HTTP_ERRORS_START_HERE##
##HTTP_ERRORS_END_HERE##
